# Copy to .env and fill values
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/<dbname>?retryWrites=true&w=majority
MONGODB_DBNAME=contactsdb
MONGODB_COLLECTION=contacts
PORT=8080
